* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.general {
  background-color: #e34f3b; }
  .general .header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    user-select: none; }
    .general .header h1 {
      font-family: "Kalam", cursive;
      font-size: 6rem;
      color: white; }
    .general .header div input {
      display: none; }
    .general .header div button {
      border: 2px solid white;
      text-decoration: none;
      border-radius: 5px;
      font-family: "Didact Gothic", sans-serif;
      font-size: 1.3rem;
      width: 7vw;
      height: 5vh;
      transition-duration: 0.2s; }
      .general .header div button a {
        text-decoration: none;
        color: #e34f3b; }
    .general .header div button:hover {
      background-color: #e34f3b;
      border: 2px solid white;
      color: white;
      cursor: pointer; }
      .general .header div button:hover a {
        color: white; }
  .general main h1 {
    user-select: none;
    font-family: "Didact Gothic", sans-serif;
    color: white;
    font-size: 2rem;
    text-align: center;
    margin: 10px; }
  .general main ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; }
    .general main ul :hover {
      background-color: white;
      color: #e34f3b;
      font-size: 1.3rem;
      cursor: pointer; }
    .general main ul .selected {
      background-color: white;
      color: #e34f3b;
      font-size: 1.3rem; }
    .general main ul li {
      border: 2px solid white;
      font-family: "Didact Gothic", sans-serif;
      color: white;
      text-align: center;
      padding: 8px;
      margin: 8px;
      height: 8vh;
      width: 8vw;
      font-size: 1.3rem;
      border-radius: 5px;
      transition-duration: 0.4s; }
